<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>200</string>
		<key>unit</key>
		<string>时</string>
		<key>content</key>
		<string>通过独创的法律知识动态管理系统，法率突破单个法律专家的知识局限，随时为您提出的各类法律问题提供专业咨询意见。无需迷茫和困惑，只需一个电话，法率帮您轻松解决法律难题！
               个人--婚姻、房产、交通、继承等
               公司--劳动、合同，股权、商标等</string>
		<key>title</key>
		<string>法律咨询</string>
		<key>id</key>
		<integer>0</integer>
		<key>btnID</key>
		<string>1001</string>
	</dict>
	<dict>
		<key>price</key>
		<string>500</string>
		<key>unit</key>
		<string>份</string>
		<key>content</key>
		<string>您只需将待审核的合同直接拍照上传，法率将站在您的立场、借助独创的合同风险管理系统进行快速专业审核，在标准服务时间内反馈意见、提示可能的法律风险，让您有备无患！
              合同文件随拍随传
              意见反馈专业高效
              服务流程透明规范</string>
		<key>title</key>
		<string>合同审核</string>
		<key>id</key>
		<integer>1</integer>
		<key>btnID</key>
		<string>1002</string>
	</dict>
	<dict>
		<key>price</key>
		<string>500</string>
		<key>unit</key>
		<string>份</string>
		<key>content</key>
		<string>您只需回答几个简单问题，就可即时在线获得一份由法率资深专家为您量身定制的合同或其他法律文书。与起草的合同相关的疑问，您可随时拨打法率热线进行咨询。您获得的不仅是一份合同，更是一份商业风险指引，法率助您合同无忧！
             区分合同角色--量身定制
             创新合同系统--智能生成
             法律风险提示--全面周到</string>
		<key>title</key>
		<string>合同起草</string>
		<key>id</key>
		<integer>2</integer>
		<key>btnID</key>
		<string>1003</string>
	</dict>
	<dict>
		<key>unit</key>
		<string>份</string>
		<key>price</key>
		<string>500</string>
		<key>content</key>
		<string>催欠款、删谣言、发警告，法率律师函帮您办。您只需填写诉求并将相关材料拍照上传，法率精选合作律师将在规定期限内制作并签发出专业律师函，助您解决难题困扰，享有私人律师护航的尊贵感觉。\n
           价格优惠—低于市场价格70%
           流程可视—随时随地查看进展
           服务高效—标准流程及时反馈。</string>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>签发律师函</string>
		<key>btnID</key>
		<string>1004</string>
	</dict>
	<dict>
		<key>price</key>
		<string>500</string>
		<key>unit</key>
		<string>项</string>
		<key>content</key>
		<string>针对中小微企业常见法律问题，法率创造性地将专业法律知识和提示用视频短片的形式精彩呈现，让客户轻松了解日常法律风险的防范。公司相关人员可随时在线接受法律培训，有助公司防范日常法律风险。\n
          切合企业需求
          随时在线观看
          内容通俗生动
          适合企业内训</string>
		<key>title</key>
		<string>在线法律培训</string>
		<key>id</key>
		<integer>4</integer>
		<key>btnID</key>
		<string>1005</string>
	</dict>
</array>
</plist>
