<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section3</key>
	<array>
		<dict>
			<key>id</key>
			<string>26</string>
			<key>name</key>
			<string>激活法率卡</string>
		</dict>
		<dict>
			<key>name</key>
			<string>关于法率</string>
			<key>id</key>
			<string>12</string>
		</dict>
	</array>
	<key>section2</key>
	<array>
		<dict>
			<key>id</key>
			<string>20</string>
			<key>name</key>
			<string>法律咨询</string>
		</dict>
		<dict>
			<key>name</key>
			<string>发律师函</string>
			<key>id</key>
			<string>21</string>
		</dict>
		<dict>
			<key>id</key>
			<string>22</string>
			<key>name</key>
			<string>合同起草</string>
		</dict>
		<dict>
			<key>id</key>
			<string>23</string>
			<key>name</key>
			<string>合同审核</string>
		</dict>
		<dict>
			<key>id</key>
			<string>24</string>
			<key>name</key>
			<string>法律培训</string>
		</dict>
		<dict>
			<key>id</key>
			<string>25</string>
			<key>name</key>
			<string>案件委托</string>
		</dict>
	</array>
	<key>section1</key>
	<array>
		<dict>
			<key>name</key>
			<string>个人信息</string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>我的订单</string>
			<key>id</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>服务明细</string>
			<key>id</key>
			<string>11</string>
		</dict>
	</array>
</dict>
</plist>
