<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>法律咨询</string>
		<key>normal</key>
		<string>无限次</string>
		<key>special</key>
		<string>无限次</string>
		<key>pic_name</key>
		<string>coor_law_audit</string>
		<key>description</key>
		<string>通过独创的法律知识动态管理系统，法率突破了单个法律专家的知识局限，可随时为您提出的各类法律问题提供专业咨询意见。您可随时随地向法率专业团队咨询公司经营中遇到的任何法律问题，包括但不限于劳动、合同、知识产权、公司治理等领域。针对偶发复杂个案，法率的专业法务团队会立即进行专项研讨，并在标准服务时间内反馈咨询意见。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>合同审核</string>
		<key>normal</key>
		<string>10份</string>
		<key>special</key>
		<string>15份</string>
		<key>pic_name</key>
		<string>coor_law_Check</string>
		<key>description</key>
		<string>您只需将待审核的合同通过网页上传或手机客户端直接拍照上传，法率将站在您的立场、借助独创的合同风险管理系统进行快速专业审核，在标准服务时间内反馈意见、提示可能的法律风险，让您有备无患！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>合同起草</string>
		<key>normal</key>
		<string>10份</string>
		<key>special</key>
		<string>15份</string>
		<key>pic_name</key>
		<string>coor_law_draft</string>
		<key>description</key>
		<string>您只需根据页面的专业提示，回答几个简单问题，就可即时在线获得一份由法率资深专家为您量身定制的合同或其他法律文书。同时，您还会收到一份法律风险提示，告知您合同谈判、签署及履行中需要注意的关键问题。之后任何与起草的合同相关的疑问，您可随时拨打法率热线进行咨询。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>签发律师函</string>
		<key>normal</key>
		<string>5份</string>
		<key>special</key>
		<string>8份</string>
		<key>pic_name</key>
		<string>coor_law_letter</string>
		<key>description</key>
		<string>在您需要催讨欠款、删除网络上不实的负面言论、回应某些重要事项时，只需将诉求及基础材料通过网页或手机客户端上传，法率精选合作律师将在规定期限内制作并签发专业律师函，助您解决难题困扰，享有私人律师护航的尊贵感觉。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>法律培训</string>
		<key>normal</key>
		<string>5项</string>
		<key>special</key>
		<string>8项</string>
		<key>pic_name</key>
		<string>coor_law_trian</string>
		<key>description</key>
		<string>针对中小微企业常见法律问题，法率创造性地将专业法律知识和提示用视频短片的形式精彩呈现，让客户轻松了解日常法律风险的防范。例如，针对常见的劳动用工问题，法率精心准备了系列培训专题，告知您如何录用员工、如何处理工伤、如何支付经济补偿金办理离职等事务。公司相关人员可随时在线接受法律培训，内容专业、通俗生动，有助公司防范日常法律风险。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>好律师代理费优惠</string>
		<key>normal</key>
		<string>9折</string>
		<key>special</key>
		<string>8折</string>
		<key>pic_name</key>
		<string>coor_law_discount</string>
		<key>description</key>
		<string>当您需要委托律师代理诉讼或仲裁时，可通过法率独创的“好律师”平台提交案件资料，法率将协助您匹配、筛选最合适的律师人选。精选合作律师将给予公司顾问客户代理费折扣。同时，法率平台将作为第三方监控案件进程及律师费的支付，解决客户与律师之间的信任问题，最大限度保障客户的合法权益。</string>
	</dict>
	<dict>
		<key>description</key>
		<string>公司顾问客户将年度服务使用完毕后，若有进一步购买单项法律服务的需求，将享受优惠折扣。客户优惠购买的专项服务应在公司顾问服务有效期内使用完毕。</string>
		<key>title</key>
		<string>购买专项服务优惠</string>
		<key>normal</key>
		<string>9折</string>
		<key>special</key>
		<string>8折</string>
		<key>pic_name</key>
		<string>coor_law_discount</string>
	</dict>
	<dict>
		<key>description</key>
		<string>公司在法率服务平台上的法律咨询、合同审核、合同起草、签发律师函等数据和文件均会存储在法率云平台，您可随时在移动法务资料库中查阅、下载及整理相关文件资料。</string>
		<key>title</key>
		<string>法律数据云存储</string>
		<key>normal</key>
		<string></string>
		<key>special</key>
		<string></string>
		<key>pic_name</key>
		<string>coor_law_cloud</string>
	</dict>
</array>
</plist>
